* {

    .navbar_container {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        color: rgb(21, 128, 61);
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(4px);
        border-radius: 0.5rem;
        padding: 1.5rem;
        box-shadow: 0 4px 6px rgba(6, 105, 6, 0.1);

        .navbar_title {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .navbar_page_links {
            font-size: 2rem;

            .about {
                color: rgb(21, 128, 61);
                padding: 1rem;
                text-decoration: none;

                &:hover {
                    color: rgb(5, 91, 65);
                }
            }

            .services {
                padding: 1rem;
                text-decoration: none;
                color: rgb(21, 128, 61);

                &:hover {
                    color: rgb(5, 91, 65);
                }
            }

            .contact {
                padding: 1rem;
                text-decoration: none;
                color: rgb(21, 128, 61);

                &:hover {
                    color: rgb(5, 91, 65);
                }
            }
        }
    }
}